<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}</title>
</head>
<body>
<div class="container page-header">
  <h1>{{ user.mid }}.{{ user.name }}</h1>
  <h4>{{ user.date }} </h4>
</div>
<div class="container page-body">
    <div class="container" role="main">
        <p>
        <h2>用户信息：</h2>
        <ul>
            <li>用户mid: {{ user.mid }}</li>
            <li>用户名: {{ user.name }}</li>
            <li>用户个性签名: {{ user.signature }}</li>
            <li>用户等级: {{ user.level }}</li>
            <li>用户粉丝数: {{ user.fans }}</li>
            <li>用户是否是大会员：{{ user.vip }}</li>
        </ul>
        </p>
    </div>
    <div><nav aria-label="...">
        <ul class="paper">
            {% if pre.pre_mid != "#" %}
            <li><a href="{{ pre.pre_mid }}">上一篇：{{ pre.pre_name }}</a> </li>
            {% else %}
            <li>上一篇：{{ pre.pre_name }}</li>
            {% endif %}
            {% if next.next_mid != "#" %}
            <li><a href="{{ next.next_mid }}">下一篇：{{ next.next_name }}</a> </li>
            {% else %}
            <li>下一篇：{{ next.next_name }}</li>
            {% endif %}
        </ul>
    </nav> </div>
</div>
</body>
</html>