<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django bilibili</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384- HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384- aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container page-header">
  <h1>
      bilibili用户信息
  </h1>
</div>

<div class="container page-body">
  <div class="col-md-9" role="main">
    {% for user in user_list %}
    <div>
        <a href="/detail/{{ user.mid }}">
            <h2>{{ user.mid }}.{{ user.name }}</h2>
        </a>
      <p>{{ user.signature }}</p>
    </div> {% endfor %} </div>
  <div class="col-md-3" role="complementary">
    <h2>粉丝数Top10</h2>
    {% for user in top10_list %}
    <h4><a href="/detail/{{ user.mid }}">{{ user.name }}</a></h4>
    {% endfor %}
  </div>
</div>
<div class="body-footer">
    <div class="col-md-4 col-md-offset-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li><a href="?page={{ previous_page }}" aria- label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a> </li>
                {% for n in page_num %}
                <li><a href="?page={{ n }}">{{ n }}</a></li>
                {% endfor %}
                <li><a href="?page={{ next_page }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a> </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>